* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#area_king {
    width: 900px;
    height: 800px;
    display: flex;
    align-items: center;
}

#menu_login {
    border: 7px outset rgb(163, 163, 163);
    border-radius: 15px 15px;
    width: 520px;
    height: 900px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.linha_botton {
    border-bottom: 1px solid #B2B1B1;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*                      FIM AREA LOGIN                    */

